#root {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
}

main div {
  width: 50%;
  gap: 20px;
}

@media (max-width: 1199px) {
  main div {
    width: 100%;
    gap: 20px;
  }
}
