#root {
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table {
  width: 100%;
}

table thead th:not(:last-child):not(:first-child) {
  cursor: pointer;
}

table tbody tr td:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 20px;
  max-width: 700px;
  margin: 0 auto 30px;
  flex-wrap: wrap;
}

.table-odd-even tbody tr:nth-child(even) {
  background-color: darkgray;
}

.table-odd-even tbody tr:nth-child(odd) {
  background-color: rgb(235, 235, 235);
}
