#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.read-the-docs {
  color: #888;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
  gap: 32px;
}

.movies h4 {
  margin-bottom: 5px;
}

.movies p {
  margin: 0 0 15px;
}

.movies img {
  width: 100%;
}

.movie {
  border: 1px solid #dededf;
  padding: 10px;
  border-radius: 8px;
}
